<div class="card-wrapper">
  <div *ngFor="let item of config">
    <div class="current-card">
      <img src="{{item.img}}" alt="{{item.title}}" class="product-img"/>
      <div class="add-favorite">
        <mat-icon>favorite_border</mat-icon>
      </div>
      <div class="percent-discount">
        <div class="value">-{{item.discount}}%</div>
      </div>
      <div class="card-info">
        <div class="card-prices">
          <div class="price-with-card">
            <p class="total">{{item.discountPrice}}</p>
            <p [class.hide]="!item.price">С картой</p>
          </div>
          <div class="price-without price-with-card" *ngIf="item.price">
            <p class="total" style="font-weight: normal">{{item.price}}</p>
            <p>Обычная</p>
          </div>
        </div>
        <p class="product-naming">
          {{item.title}}
        </p>
        <div class="review-stars">
          <div *ngFor="let star of item.review">
            <ng-container *ngIf="star"><mat-icon class="active-star">star</mat-icon></ng-container>
            <ng-container *ngIf="!star"><mat-icon class="hide-star">star</mat-icon></ng-container>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button class="add-to-basket">
          В корзину
        </button>
      </div>
    </div>
  </div>
</div>

