<section class="special-container">
  <div class="special-card">
    <div>
      <h5>Оформите карту «Северяночка»</h5>
      <p>И получайте бонусы при покупке в магазинах и на сайте</p>
    </div>
    <div class="card-img-container">
      <img src="assets/images/severyanochka_card.png">
    </div>
  </div>
  <div class="special-bonus" >
    <div>
      <h5>Покупайте акционные товары</h5>
      <p>И получайте вдвое больше бонусов</p>
    </div>
    <div class="card-img-container">
      <img src="assets/images/special_bascet.png">
    </div>
  </div>
</section>

