$white: #ffffff;
$translucent-white: rgba($white, 0.7);
$black: #000;
$red: #ff5722;
$scarlet-red: #e53935;
$light-red: #ff7043;
$pacific-blue: #00acc1;
$pacific-blue-background: #1afff747; // rgba($pacific-blue, 0.7);
$violet: #7f00ff90;
$violet-background: #7f00ff33;
$light-green: #8bc34a;
$green: #4caf50;
$yellow: #fdd835;
$yellow-darken: #fbc02d;
$hawkes-blue: #e3f2fd;
$teal: #009688;
$primary-color: #455a64;
$primary-lighter-color: #728f9d;

$disabled-bg-color: #dfdfdf;
$disabled-text-color: #9f9f9f;

$mainSurface: #414141;
$mainSecondary: #70C05B;
$mainBackground: #FBF8EC;
$mainStockFont: #8F8F8F;
$mainDiscountBack: #FF6633;
$mainHideStars: #BFBFBF



