@import "src/scss/colors";

section {
  background-color: $mainBackground;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  .main-container {
    margin: 0 auto;
    width: 1440px;

    .main-stock-header {
      display: flex;
      justify-content: space-between;

      .stock-in-main {
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: $mainSurface;
      }

      .wrapper-all-stock {
        display: flex;
        align-items: center;
        cursor: pointer;

        .all-stock-title {
          margin-right: 0.5rem;
          color: $mainStockFont;
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
          font-size: 1rem;
        }

        mat-icon {
          color: $mainStockFont;

        }
      }
    }

    .new-items {
      margin-top: 7rem;
    }

    .special-offer {
      margin-top: 2.5rem;
    }

  }

  .container {
    width: 1440px;
    height: 300px;
    margin-top: 2.5rem;
  }
}
